<div class="shop-block">
  <div class="row">
    <div class="col-12">
      <h3 class="shop-title">SHOP</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="shopForm">
        <div class="form-group row">
          <label for="helmet" class="col-sm col-form-label">Helmet</label>
          <div class="col-sm-auto">
            <select class="form-control shop-select" id="helmet" formControlName="helmet">
              <option [value]="null">(Empty)</option>
              <option *ngFor="let helmet of data?.equipment.helmets" [value]="helmet.id">{{ helmet.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="chest" class="col-sm col-form-label">Chest</label>
          <div class="col-sm-auto">
            <select class="form-control shop-select" id="chest" formControlName="chest">
              <option [value]="null">(Empty)</option>
              <option *ngFor="let chest of data?.equipment.chests" [value]="chest.id">{{ chest.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="glove" class="col-sm col-form-label">Glove</label>
          <div class="col-sm-auto">
            <select class="form-control shop-select" id="glove" formControlName="glove">
              <option [value]="null">(Empty)</option>
              <option *ngFor="let glove of data?.equipment.gloves" [value]="glove.id">{{ glove.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="boot" class="col-sm col-form-label">Boot</label>
          <div class="col-sm-auto">
            <select class="form-control shop-select" id="boot" formControlName="boot">
              <option [value]="null">(Empty)</option>
              <option *ngFor="let boot of data?.equipment.boots" [value]="boot.id">{{ boot.name }}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="shop-label">Equiepment cost: {{ equipmentCost }}</label>
    </div>
  </div>
</div>
